
{% block content %} 
<style>
body {
    background-color: #e6f2ff; 
    color: #000000; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
h1 {
    color: darkblue; 
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid darkblue; 
    padding: 10px;
}
th {
    background-color: darkblue;
    color: #ffffff; 
}
tr:nth-child(even) {
    background-color: #e6f2ff; 
}

.navbar {
      background-color: darkblue;
      overflow: hidden;
      padding: 10px;
      margin-bottom: 20px;
    }

    .navbar a {
      float: left;
      color: white;
      text-align: center;
      padding: 12px 16px;
      text-decoration: none;
      font-size: 18px;
      font-weight: normal;
      transition:  0.3s ease;
    }

    .navbar a:hover {
      background-color: lightblue;
      color: black;
    }

    .navbar a.active {
      font-weight: bold;
      color: lightblue;
    }


    img {
      border: 5px solid darkblue;
    }

    
</style>
<body>

  

    <div class="container">
        <h1>Approved Prescriptions to be filled: </h1>
        {{ msg}}
         <table class="worddark">
            <tr>
                <th>Prescription Name</th>
                <th>Dosage</th>
                <th>Patient ID #</th>
                <th>Doctor ID #</th>
                <th>Prescription Date</th>
                <th>Prescription ID #</th>
            </tr>
            {% for need in need %}
            <tr>
                <td>{{ need['prescriptionName'] }}</td>
                <td>{{ need['prescriptionDosage'] }}</td>
                <td>{{ need['patientID'] }}</td>
                <td>{{ need['doctorID'] }}</td>
                <td>{{ need['prescriptionDate'] }}</td>
                <td>{{ need['prescriptionID'] }}</td>
            </tr>
            {% endfor %}
        </table>
        <h3>Enter prescription ID to fill</h3>
        <form action="{{ url_for('fillPrescription')}}" method="post" autocomplete="off">
            <input type="text" id="prescription_id" name="prescription_id">
            <input type="Submit" class="btn" value="Submit">
        </form>
    </div>



    </body>
      

{% endblock %}
