
{% block content %}
    <style>
        body {
            background-color:#e6f2ff; 
            color: #000000; 
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 60%;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }
        h1 {
            color: darkblue; 
        }
        form {
            margin-top: 20px;
            text-align: left;
        }
        input[type="text"], textarea {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        input[type="submit"] {
            background-color: #0000ff;
            color: #ffffff; 
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #0000cc; 
        }
    </style>

<body>
    <div class="container">
        <h2>Add an item to the order list</h2>
        <div class="addbottom">
            <form action="{{ url_for('Inventory')}}" method="post" autocomplete="off">
                <div class="msg">{{ msg }}</div>
                <input type="text" name="DrugName" placeholder="Drug Name" class="textbox" id="DrugName" required>
                <input type="text" name="Strength" placeholder="Strength" class="textbox" id="Strength" required>
                <input type="text" name="Manufacture" placeholder="Manufacturer" class="textbox" id="Manufacture" required>
                <input type="Submit" class="btn" value="Submit">
            </form>
        </div>
    </div>

    </body>
    

{% endblock %}

