
{% block content %}
<style>
    body {
        background-color: #e6f2ff; 
        color: #000000; 
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    .container {
        width: 60%;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }
    h1 {
        color: darkblue; 
    }
    form {
        margin-top: 20px;
        text-align: left;
        display: inline-block; /* Centering the form */
    }
    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        display: block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin: 0 auto; 
    }
    input[type="submit"] {
        background-color: #0000ff;
        color: #ffffff; 
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    input[type="submit"]:hover {
        background-color: #0000cc; 
    }
</style>
<body>
    <div class="container">
        <div class="logintop">
            <h1>Patient Login</h1>
        </div></br></br></br></br>
        <div class="loginbottom">
            <form action="{{ url_for('patientlogin')}}" method="post" autocomplete="off">
                <div class="msg">{{ msg }}</div>
                <input type="text" name="username" placeholder="Enter Your Username" class="textbox" id="username" required></br></br>
                <input type="password" name="password" placeholder="Enter Your Password" class="textbox" id="password" required></br></br></br>
                <input type="submit" class="btn" value="Login">
            </form></br></br>
            <p class="worddark">New to this page? <a class="worddark" href="{{ url_for('register')}}">Register here</a></p>
        </div>
    </div>
</body>
{% endblock %}
